.machine-card {
  width: 70%;
  margin: 0 auto;
  background-color: grey;
  color: antiquewhite;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.machine-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  position: absolute;
  left: 20%;
}
